body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.fa-magnifying-glass {
    font-size: 25px;
}

.fa-cart-shopping {
    font-size: 25px;
}

.section-1 {
    display: flex;
    padding: 70px;
}

.half-width-1 {
    width: 50%;
}

.half-width-1 h2 {
    font-size: 55px;
    line-height: 70px;
    font-weight: bold;

}

.half-width-1 p {
    font-size: 18px;
}

.half-width-1 img {
    width: 70%;
    padding-left: 60px;

}



button {
    padding: 15px;
    border-radius: 25px;
    background: rgb(216, 24, 104);
    border: none;
    color: white;
}

.section-2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main {
    width: 80%;
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px;
}

.section-2 img {
    min-width: 10%;
    height: 100px;
    margin: 0 auto;
}

@media screen and (max-width:500px) {
    * {
        background-image: linear-gradient(rgb(152, 152, 175), rgb(151, 151, 110));
    }

    nav span {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        background-image: linear-gradient(green, purple);
    }

    nav a {
        display: inline-block;
        color: white;
        border: 2px solid grey;
        padding: 5px;
        text-align: center;
        background-image: linear-gradient(yellow, blue);
    }

    nav .logo {
        background-image: linear-gradient(black, red);
    }

    .section-1 {
        flex-direction: column;
    }

    .section-1 .half-width-1 {
        width: 100%;
    }

    .section-1 .image-1 img {
        width: 100%;
    }

    .main {
        flex-direction: column;
    }
}